body {
  background-color: #EBE8E4;
  color: #222;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  margin: 0;
  overflow: hidden;
}

nav ul{
  margin: 0 50px;
  padding: 0;
}
nav ul li {
  /* This allow us to arrange list items in a row */
  display: inline-block;
  list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
  color: #aaa;
  display: block;
  line-height: 2em;
  padding: 0.5em 0.5em;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background-color: #3F3F3F;
}

article {
  margin 0 auto;
  width: 960px;
}

article section {
  padding: 0 50px;
}

footer {
  background-color: #333;
  width: 100%;
  color: #aaa;
  font-size: 12px;
  padding: 3px 50px;
}